<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MigrateDb"
         connectionString="Server=62.90.188.135,1433;Database=migrateDB;User Id=sa;Password=scale1234;TrustServerCertificate=True" />
  </connectionStrings>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="WorkerExePath" value="C:\inetpub\wwwroot\migrateDB\Worker\SmartScale.Worker.exe" />
    <add key="NetworkDriveLetter" value="H:" />
    <add key="NetworkDrivePath" value="\\serverdb\servercust" />
  </appSettings>
  <system.web>
    <compilation debug="false" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
    <globalization culture="he-IL" uiCulture="he-IL" />
    <authentication mode="Windows" />
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="Clients.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
